body {
    margin: 0;
    color: #333;
}

table {
    margin: 0 auto;
}

table tr:nth-child(odd) {
    background-color: #f5f5f5;
}

table tr td {
    padding: 10px;
}

table tr td a {
    color: #2b6bff;
    text-decoration: none;
}

.name {
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 10px;
}
